<%- include('partials/header') %>
<h2>Login</h2>
<form method="POST">
<input type="email" name="email" placeholder="Email" required/>
<input type="password"name="password" placeholder="Password" required/>
<button>Login</button>
</form>

<ahref="/register">Register</a>
<%- include('partials/footer') %>
