<%- include('partials/header') %>
<h2>Register</h2>
	<form method="POST">
	<input type="email"name="email" required/>
	<input type="password"name="password" required/>
	<button>Register</button>
</form>
<%- include('partials/footer') %>
